In [ ]:
from alpaca_trade_api.rest import REST, TimeFrame
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

api = REST()

In [ ]:
api.get_bars("AAPL", TimeFrame.Hour, "2021-06-08", "2021-06-08", adjustment='raw').df

In [ ]:
t=api.get_trades("AAPL","2025-01-15", "2025-01-15", limit=1000).df

In [ ]:
t

In [6]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [ ]:
display(t)

In [11]:
t=api.get_trades("AAPL", TimeFrame.Minute, "2025-01-15", limit=100).df

In [ ]:
t

In [ ]:
api.get_bars("AAPL", TimeFrame.Minute, "2025-01-15",  adjustment='raw').df

In [10]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

# Calculate the difference between each row and the previous row
df['diff_1'] = df['A'].diff()

# Calculate the difference between each row and the row 2 periods prior
df['diff_2'] = df['A'].diff(periods=2)

print(df)

   A  diff_1  diff_2
0  1     NaN     NaN
1  2     1.0     NaN
2  3     1.0     2.0
3  4     1.0     2.0
4  5     1.0     2.0

In [11]:
df

   A  diff_1  diff_2
0  1     NaN     NaN
1  2     1.0     NaN
2  3     1.0     2.0
3  4     1.0     2.0
4  5     1.0     2.0