In [2]:
import yfinance as yf

# Fetch AAPL stock data with a 15-minute timeframe
aapl = yf.Ticker("AAPL")
data = aapl.history(period="5d", interval="15m")

In [3]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-01-10 09:30:00-05:00,239.964996,240.149994,238.000000,238.990005,6041114,0.0,0.0
2025-01-10 09:45:00-05:00,239.000000,239.059998,237.470001,237.949997,2307389,0.0,0.0
2025-01-10 10:00:00-05:00,237.880005,237.914993,235.800003,236.485001,2912573,0.0,0.0
2025-01-10 10:15:00-05:00,236.491592,237.490005,236.220001,237.425003,1876327,0.0,0.0
2025-01-10 10:30:00-05:00,237.424194,237.434998,236.800095,236.910004,1651032,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-16 14:45:00-05:00,229.274994,229.929993,228.990005,229.860001,1459134,0.0,0.0
2025-01-16 15:00:00-05:00,229.854996,230.068604,229.509995,229.520004,2014008,0.0,0.0
2025-01-16 15:15:00-05:00,229.520004,229.600006,228.899994,229.024994,1717822,0.0,0.0
2025-01-16 15:30:00-05:00,229.009995,229.291794,228.585007,228.735001,2310547,0.0,0.0
2025-01-16 15:45:00-05:00,228.735001,228.759995,228.029999,228.240005,7117926,0.0,0.0

In [8]:
# Calculate VWAP
data['VWAP_given'] = (((data['High'] + data['Low'] + data['Close']) / 3) * data['Volume']).cumsum() / data['Volume'].cumsum()

In [7]:
data["ave_price"] = (data['High'] + data['Low'] + data['Close']) / 3

In [9]:
data["cum_volume"]= data['Volume'].cumsum()

In [10]:
data["vwap_learn"]=data["ave_price"]*data["cum_volume"] / data["cum_volume"]

In [11]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ave_price,VWAP_given,cum_volume,vwap_learn
Datetime,,,,,,,,,,,
2025-01-10 09:30:00-05:00,239.964996,240.149994,238.000000,238.990005,6041114,0.0,0.0,239.046666,239.046666,6041114,239.046666
2025-01-10 09:45:00-05:00,239.000000,239.059998,237.470001,237.949997,2307389,0.0,0.0,238.159999,238.801606,8348503,238.159999
2025-01-10 10:00:00-05:00,237.880005,237.914993,235.800003,236.485001,2912573,0.0,0.0,236.733332,238.266666,11261076,236.733332
2025-01-10 10:15:00-05:00,236.491592,237.490005,236.220001,237.425003,1876327,0.0,0.0,237.045003,238.092184,13137403,237.045003
2025-01-10 10:30:00-05:00,237.424194,237.434998,236.800095,236.910004,1651032,0.0,0.0,237.048365,237.975649,14788435,237.048365
...,...,...,...,...,...,...,...,...,...,...,...
2025-01-16 14:45:00-05:00,229.274994,229.929993,228.990005,229.860001,1459134,0.0,0.0,229.593333,234.181631,179315346,229.593333
2025-01-16 15:00:00-05:00,229.854996,230.068604,229.509995,229.520004,2014008,0.0,0.0,229.699534,234.131849,181329354,229.699534
2025-01-16 15:15:00-05:00,229.520004,229.600006,228.899994,229.024994,1717822,0.0,0.0,229.174998,234.085331,183047176,229.174998
2025-01-16 15:30:00-05:00,229.009995,229.291794,228.585007,228.735001,2310547,0.0,0.0,228.870600,234.020327,185357723,228.870600
2025-01-16 15:45:00-05:00,228.735001,228.759995,228.029999,228.240005,7117926,0.0,0.0,228.343333,233.810387,192475649,228.343333